*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

#source{
    position: relative;
}

.header{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.header-content{

}

.header-logo{
    height: 100%;
    display: flex;
}

.header-logo_img{
    width: 50%;
    height: 100%;
}

.header-nav{
    width: auto;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li{
    padding: 0 40px;
    list-style-type: none;
}

.header-nav ul li a{
    font-size: 14px;
    font-weight: 700;
}

.header-nav ul li:hover a{
    color: red;
}

.header-holine{
    display: flex;
    width: 25%;
    justify-content: end;
}

.header-holine_box{
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 20px;
}

.header-holine_link{
    color: red;
}

.header-holine:hover .header-holine_link{
    color: white;
}

.header-holine:hover .header-holine_box{
    background-color: red;
    transition: linear .3s;
}

.container-top_img{
    width: 100%;
}

#source-container{
    padding-top: 30px;
}

.container-bestlerlist{
    padding-top: 50px;
}

.bestlerlist-banner{
    transform: translateX(25%);
}

.bestlerlist-list{
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgb(255, 224, 221);
    top: -53px;
    padding: 10px 5px;
    border-radius: 20px;
}

.bestlerlist-list-item{
    width: 25%;
}

.list-item_img{
    width: 90%;
}

.bestlerlist-list-item > a{
    display: flex;
    justify-content: center;
    cursor: auto;
}

.bestlerlist-list-item > a:hover .list-item_img{
    transform: scale(1.02);
    cursor: pointer;
}

.container-router{
    border: 1px solid red;
    background-color: transparent;
    padding-top: 60px;

}

.container-router-banner{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}

.router-banner_img{
    width: 40%;
}
