*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

#source{
    position: relative;
}

.header{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.header-content{

}

.header-logo{
    height: 100%;
    display: flex;
}

.header-logo_img{
    width: 50%;
    height: 100%;
}

.header-nav{
    width: auto;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li{
    padding: 0 40px;
    list-style-type: none;
}

.header-nav ul li a{
    font-size: 14px;
    font-weight: 700;
}

.header-nav ul li:hover a{
    color: red;
}

.header-holine{
    display: flex;
    width: 25%;
    justify-content: end;
}

.header-holine_box{
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 20px;
}

.header-holine_link{
    color: red;
}

.header-holine:hover .header-holine_link{
    color: white;
}

.header-holine:hover .header-holine_box{
    background-color: red;
    transition: linear .3s;
}